
@{
    ViewBag.Title = "Index";
}

<div class="responsive w-100" align="center">
    <div class="w-100" style="background-color: #2C91FF; color: white; ">
        <h1 style="font-size:15vw;font-weight:bolder;">About</h1>
        <hr />
    </div>
    <div class="container w-100 " align="center" style="font-size:2vw;">
        <div class="navbar-brand fw-bolder" align="center">
            <img alt="Oriental Standard Online Course" src="~/Content/Images/link.png" style="display:inline-block;height:10vw;" />
            <span style="font-size:6vw;">Link<span style="background-color: #FFCE46">Spot</span></span>
        </div>
        <br />
        <p>
            LinkSpot can help you to spot the links. It seperates links by main categories and types. It minimizes your adventurous search for certain links.
            Finding a Real link has certain risks and can be time consuming. so, here we are to help you!.
            If you are Interested in new category, submit a request in contact section!. No ads, No redirections, No Phishing, No Fake websites... All Real Ones 😊.
        </p>
    </div>    
    <div align="center">
        <img src="~/Content/Images/aboutus.png" style="width:30vw;height:30vw;" />
    </div>
    <div>
        <p>We take care of that links that you want!</p>
    </div>
</div>